form#create {
    width: 100%;
    padding-left: 2%;
    display: flex;
    min-height: 500px;
    //height: 300%;

    .formContent {
        width: 70%;
        // .ql-container {
        //     height: fit-content;
        //     min-height: 300px;
        // }
    }
    .formSidebar {
        width: 30%;
    }
}