/admin-frontend
/node_modules
/web-mvc/node_modules
/app-test/node_modules
/bunvite/node_modules
/bunvite-elysia-ssr/node_modules
/project/frontend/node_modules
/project-v1-ok/node_modules
/vite-df/node_modules
/vanilla/admin/models
/web-bun-vite/node_modules
/web-mvc-v1-hoc-ssr/node_modules
/web-mvc-v2-hoc-hmr/node_modules
