// web-mvc/src/admin/main.scss
body {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    main {
        display: flex;
        .sidebar {
            width: 20%;
        }
        .mainContent {
            width: 60%;
        }
        .rightSidebar {
            width: 20%;
        }
    }
}