aside {
    // margin-top: 10px;
    width: 25%;
    background-color: black;
    box-shadow: 2px 0 5px #898989;
    nav.sidebar {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            hr {
                border: 1px solid #898989;
                margin: 2px 0;
            }
            li {
                a {
                    display: block;
                    text-decoration: none;
                    padding: 10px 15px;
                    color: white;
                    transition: background-color 0.3s ease;
                    position: relative;

                    &:hover {
                        background-color: #797979;
                    }
                    &.active {
                        background-color: #007bff;
                        border-left: 3px solid #07ff07;
                    }
                    &.parent-active {
                        color: #a0ffe5;
                        padding-right: 25px;
                        //border-left: 3px solid #bad813;
                        &::before {
                            content: ''; /* CHỈ ĐỂ RỖNG HOẶC NULL */
                            position: absolute;
                            top: 50%;
                            left: 0; // Đặt mũi tên sát cạnh phải của padding
                            transform: translateY(-50%); // Dịch chuyển để căn giữa dọc
                            width: 0;
                            height: 0;
                            border-top: 8px solid transparent;     // Chiều cao mũi tên
                            border-bottom: 8px solid transparent;  // Chiều cao mũi tên
                            border-left: 10px solid white;         // Chiều rộng mũi tên và màu sắc
                            transition: transform 0.3s ease;  
                        }
                    }
                }
            }
            ul {
                margin-left: 1rem;
            }
        }
    }
}