header {
    width: 100%;
    text-align: center;
    background-color: #0000009e;
    color: white;
    padding: 15px 0;
    p {
        font-size: xx-large;
        margin: 0;
        display: inline;
    }
    button#btn-logout {
        color: red;
        padding: 10px 30px;
        border: none;
        margin-right: 60px;
        margin-top: -5px;
        float: right;
        box-shadow: 0 0 10px #fff;
        font-size: x-large;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            background-color: #ccd9db;
        }
    }
}